* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: #e9eef1;
}

#section1 {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 2fr 3fr;
  grid-template-areas:
    "header header header"
    "hero-div hero-div hero-div"
    "bottom-left bottom-center bottom-right";
  padding: 20px;
  gap: 20px;
}

header {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  grid-area: header;
}

.hero-div {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1447933601403-0c6688de566e?q=80&w=1361&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  grid-area: hero-div;
  border-radius: 15px;
}

.hero-div h3 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.bottom-left {
  background-image: url("https://images.unsplash.com/photo-1606890657264-e5a411daf9ef?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: top;
  grid-area: bottom-left;
  position: relative;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bottom-center {
  background-image: url("https://images.unsplash.com/photo-1570865116909-d358c47f1806?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  grid-area: bottom-center;
  position: relative;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-right {
  background-image: url("https://images.unsplash.com/photo-1503602642458-232111445657?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  grid-area: bottom-right;
  position: relative;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-left h3 {
  color: white;
  font-size: 30px;
  font-weight: 750;
  margin-bottom: 10px;
  font-family: sans-serif;
}

.bottom-center h3 {
  color: white;
  font-size: 30px;
  font-weight: 750;
  margin-bottom: 10px;
  font-family: sans-serif;
}

.bottom-right h3 {
  color: white;
  font-size: 30px;
  font-weight: 750;
  margin-bottom: 10px;
  font-family: sans-serif;
}

.bottom-left-text {
  display: flex;
  flex-direction: column;
}

.search-div {
  gap: 20px;
  display: flex;
  align-items: center;
  position: relative;
}
.search-div input {
  padding: 6px 100px 6px 35px;
  border: none;
  border-radius: 50px;
  background-color: #ffffff;
}

.search-div i {
  position: absolute;
  right: 10px;
}

.icons {
  display: flex;
  gap: 20px;
}

.icons i {
  font-size: 20px;
  cursor: pointer;
  font-weight: 200;
}

.hero-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px 80px;
}


.hero-text h2 {
  color: rgb(255, 255, 255);
  font-size: 34px;
  font-weight: 900;
  line-height: 1.15;
  margin-bottom: 12px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0%{
    transform: translateY(0px);
  }

  50%{
    transform: translateY(-8px);
  }

  100%{
    transform: translateY(0px);
  }
}



.hero-text p {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 16px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  opacity: 0.7;
}

.hero-text button {
  padding: 10px 24px;
  background-color: #ffffff;
  color: #333333;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-family: sans-serif;
}

.hero-text button:hover {
  background-color:#2B39FF;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}



.hero-text i {
  font-size: 20px;
  margin-left: 10px;
  color: #fffffff4;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 30px;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow i {
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
}

.top-text p {
  font-size: 10px;
  font-weight: bold;
  font-family: sans-serif;
}
.top-text i {
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #000000;
}

.top-text {
  position: absolute;
  top: 10px;
  left: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}

.fab{
  width:50px;
  height:50px;
  background:#2B39FF;
  color:white;

  border-radius:50%;

  display:flex;
  justify-content:center;
  align-items:center;

  position:fixed;   /* screen pe fixed */
  right:20px;       /* right side */
  bottom:20px;      /* niche */

  font-size:30px;
  cursor:pointer;

  box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

.fab i{
  margin:0;
  padding:0;
  font-size:16px;
  font-weight:600;
  font-family: sans-serif;
}


#section3{
  padding: 60px 0;
  overflow: hidden;
}

.logo-marquee{
  overflow: hidden;
  white-space: nowrap;
}

.logo-track{
  display: flex;
  gap: 80px;
  width: max-content;
  animation: scroll 15s linear infinite;
  align-items: center;
}

.logo-track img{
  height: 60px;
  object-fit: contain;

  transition: 0.3s;
}

.logo-track img:hover{
  opacity: 1;
  transform: scale(1.1);
}

@keyframes scroll{
  0%{
    transform: translateX(0);
  }

  100%{
    transform: translateX(-50%);
  }
}








#section2{
    min-height:100vh;
    padding:80px 8%;
    color:white;
}

.section2-heading{
    text-align:center;
}

.section2-heading p{
    color:#888;
    letter-spacing:3px;
}

.section2-heading h2{
    font-size:50px;
    margin-top:15px;
}

.services-container{
    margin-top:70px;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:25px;
}

.service-card{

    background:#1b1b1b;

    padding:40px;

    border-radius:20px;

    transition:.4s;
}

.service-card:hover{

    transform:translateY(-10px);

}

.service-card i{

    font-size:45px;

}

.service-card h3{

    margin-top:20px;

    margin-bottom:15px;

}

.service-card p{

    color:#aaa;

}